{% extends "base.html" %}
{% block head %}
  {{ super() }}
  {% if article.description %}
    <meta name="description" content="{{article.description}}" />
  {% endif %}

  {% for tag in article.tags %}
    <meta name="tags" content="{{tag}}" />
  {% endfor %}

{% endblock %}

{% block content %}
<section id="content" class="body">
  <header>
    <h2 class="entry-title">
      <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark"
         title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h2>

  <div class="entry-content">
    {{ article.content }}
  </div><!-- /.entry-content -->
</section>
{% endblock %}
{% block sidebar %}
<footer class="sidebar-post-info">
    <span class="zarath">Category:</span> <a href="{{ SITEURL }}/{{article.category.url}}">{{article.category}}</a><br>
    <span class="zarath">Tags:</span> {% for tag in article.tags %}<a href="{{ SITEURL }}/{{tag.url}}">{{ tag }}</a>, {% endfor %}<br>
    <time class="published" datetime="{{ article.date.isoformat() }}"> {{ article.locale_date }} </time>
{% import 'translations.html' as translations with context %}
{{ translations.translations_for(article) }}
   {% if article.authors %}
   <address class="vcard author">
     By {% for author in article.authors %}
         <a class="url fn" href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a>
       {% endfor %}
   </address>
   {% endif %}
   {% for category in article.categories %}
   <a href="{{ SITEURL }}/{{category.url}}">{{category}}</a>
   {% endfor %}
 {% if article.prev_article_in_category %}
         <a href="{{ SITEURL }}/{{ article.prev_article_in_category.url}}">
          &larr; previous article in {{article.category}}: {{ article.prev_article_in_category.title }}
         </a><br>
 {% endif %}
 {% if article.next_article_in_category %}
         <a href="{{ SITEURL }}/{{ article.next_article_in_category.url}}">
          &rarr; next article in {{article.category}}: {{ article.next_article_in_category.title }}
         </a>
 {% endif %}
 <br>
 <br>
 <hr>
 <br>
 {% if article.prev_article %}
         <a href="{{ SITEURL }}/{{ article.prev_article.url}}">
            &larr; previous article in time {{ article.prev_article.title }}
         </a><br>
 {% endif %}
 {% if article.next_article %}
         <a href="{{ SITEURL }}/{{ article.next_article.url}}">
            &rarr; next article in time {{ article.next_article.title }}
         </a>
 {% endif %}

</footer>
{% endblock %}
