<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <meta name="viewport" content="initial-scale=1">
        {% block head %}
        <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
        <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/limousine" type="text/css"/>
        <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/{{ CSS_FILE }}" />
        <meta charset="utf-8" />
        {% if FEED_ALL_ATOM %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Full Atom Feed" />
        {% endif %}
        {% if FEED_ALL_RSS %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Full RSS Feed" />
        {% endif %}
        {% if FEED_ATOM %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
        {% endif %}
        {% if FEED_RSS %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
        {% endif %}
        {% if CATEGORY_FEED_ATOM and category %}
        <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_ATOM|format(category.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Categories Atom Feed" />
        {% endif %}
        {% if CATEGORY_FEED_RSS and category %}
        <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_RSS|format(category.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Categories RSS Feed" />
        {% endif %}
        {% if TAG_FEED_ATOM and tag %}
        <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_ATOM|format(tag.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Tags Atom Feed" />
        {% endif %}
        {% if TAG_FEED_RSS and tag %}
        <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_RSS|format(tag.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Tags RSS Feed" />
        {% endif %}
        <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/jquery.min.js"></script>
        <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/tipuesearch_content.js"></script>
        <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/tipuesearch_set.js"></script>
        <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/tipuesearch.min.js"></script>

        {% endblock head %}
</head>


<body id="index" class="home">
<div class="container">
        <div class="col1">
        <h1 class="sitetitle"><a href="{{ SITEURL }}/">{{ SITENAME }}           <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/imgs/OSP_new-frog.svg"
 <strong>{{ SITESUBTITLE }}</strong></a></h1>
        <nav id="menu"><ul>
        {% for title, link in MENUITEMS %}
            <li><a href="{{ link }}">{{ title }}</a></li>
        {% endfor %}
        {% for p in pages %}
          <li{% if p == page %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a></li>
        {% endfor %}
        {% for cat, null in categories %}
                    <li{% if cat == category %} class="active"{% endif %}><a class="category" href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a></li>
        {% endfor %}
        <br>
        posts from:
        <li><a href="{{ SITEURL }}/2006/index.html">2006</a></li>
        <li><a href="{{ SITEURL }}/2007/index.html">2007</a></li>
        <li><a href="{{ SITEURL }}/2008/index.html">2008</a></li>
        <li><a href="{{ SITEURL }}/2009/index.html">2009</a></li>
        <li><a href="{{ SITEURL }}/2010/index.html">2010</a></li>
        <li><a href="{{ SITEURL }}/2011/index.html">2011</a></li>
        <li><a href="{{ SITEURL }}/2012/index.html">2012</a></li>
        <li><a href="{{ SITEURL }}/2013/index.html">2013</a></li>
        <li><a href="{{ SITEURL }}/2014/index.html">2014</a></li>
        <li><a href="{{ SITEURL }}/2015/index.html">2015</a></li>
        <li><a href="{{ SITEURL }}/2016/index.html">2016</a></li>
        <li><a href="{{ SITEURL }}/2017/index.html">2017</a></li>
        <br><br>
        <li>
          <form class="navbar-search" action="{{ SITEURL }}/search.html" onsubmit="return validateForm(this.elements['q'].value);">
            <input type="text" class="search-query" placeholder="Search" name="q" id="tipue_search_input">
          </form>
        </li>
        <li><a title="Site wide atom feed" href="{{ SITEURL }}/feeds/all.atom.xml"><img class="rss-icon" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/imgs/rss-black.png"></a></li>
        </ul></nav><!-- /#menu -->
        </div>
        <div class="col2">
        {% block content %}
        {% endblock %}
        </div>
        <div class="col3 sidebar">
        {% block sidebar %}
        {% endblock sidebar %}
        </div>
        <div class="footer">
        <footer id="contentinfo" class="body">
        </footer><!-- /#contentinfo -->
        <aside>
          <ul id="footer-tag-list">
            <li>blog wide tag list:</li><br>
            {%- for tag, articles in tags|sort %}
            <li><a class="tag" href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a> ({{ articles|count }})</li>
            {% endfor %}
          </ul>
        </aside>
        </div>
  </div>
  <script>
     function validateForm(query)
     {
         return (query.length > 0);
     }
  </script>
</body>
</html>
