{% extends "index.html" %}
{% block content_title %}
<h2>Articles in the {{ category }} category <a title="osp blog: {{category}} category atom feed" href="{{ SITEURL }}/feeds/category/{{category}}.atom.xml"><img class="rss-icon" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/imgs/rss-black.png"></a></h2>

{% endblock %}
