{% extends "base.html" %}
{% block content %}
<ul>
{% for category, articles in categories %}
    <li><a href="{{ SITEURL }}/{{ category.url }}">{{ category }}</a> <a title="osp blog: {{category}} category atom feed" href="{{ SITEURL }}/feeds/category/{{category}}.atom.xml"><img class="rss-icon" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/imgs/rss-black.png"></a></li>
{% endfor %}
</ul>
{% endblock %}
