{% extends "base.html" %}
{% block content %}
<section id="content">
{% block content_title %}
{% endblock %}

<ul id="post-list">
{% for article in articles_page.object_list %}
        <li><article class="hentry">
                <header> <h2 class="entry-title"><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h2>
                    <time class="published" datetime="{{ article.date.isoformat() }}"> {{ article.locale_date }} </time>
                    <div class="vcard author"><span class="zarath">By</span>
                    {% for author in article.authors %}
                        <a class="url fn" href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a>
                    {% endfor %}
                    </div>
                </header>
                <div class="entry-content"> {{ article.summary }} </div><!-- /.entry-content -->
                <footer>
                <span class="zarath">Category</span>: <a href="{{ SITEURL }}/{{article.category.url}}">{{article.category}}</a><br>
                <span class="zarath">Tags:</span> {% for tag in article.tags %}<a href="{{ SITEURL }}/{{tag.url}}">{{ tag }}</a>, {% endfor %}<br>
              </footer>
        </article></li>
{% endfor %}
</ul><!-- /#posts-list -->
{% if articles_page.has_other_pages() %}
    {% include 'pagination.html' %}
{% endif %}
</section><!-- /#content -->
{% endblock content %}
